.question {
  figure {
    max-width: 40rem;
    margin: 0 auto;
  }
  img {
    max-width: 100%;
  }

  ul {
    list-style: none;
    max-width: 60rem;
    margin: 0 auto;
    font-size: 3rem;
    text-align: left;
  }
}
